{% extends 'base.html' %}


{% block content %}
    <main class="form-signin w-50 m-auto py-5">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingUsername" name="usernameInput" required
                       placeholder="name@example.com">
                <label for="floatingUsername">Username</label>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="passwordInput" required
                           placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
            </div>
        </form>
    </main>
{% endblock %}